{% extends "base.html" %}
{% load static %}

{% block title %}
𝟓𝟎𝟎
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}

{% block tab-header %}500{% endblock %}
{% block tab-header-subtitle %}Internal Server Error{% endblock %}

{% block content %}
<div id="error-page-message">
    <span class="border-box error-border-box-position"></span>
    <div>The server is probably unavailable. Check back later.</div>
</div>
{% endblock %}

{% block js %}
<script>
    $("#menu-button").css("top", "-10px");
</script>
{% endblock %}