{% extends "base.html" %}
{% load static %}

{% block title %}
𝐜𝐨𝐧𝐭𝐚𝐜𝐭
{% endblock %}

{% block tab-header %}Changelog{% endblock %}
{% block tab-header-subtitle %}Update history of the website : : . .{% endblock %}

{% block content %}
<div class="body-section" id="changelog-body-section">
    <div class="container" id="changelog-container">
        {% for item in changelog %}
        <div class="row changelog-timeline">
            <div class="col-2 changelog-date">
                {{ item.date }}
            </div>
            <div class="col-8">
                <div class="changelog-description">
                    {{ item.detail }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}