{% extends "base.html" %}
{% load static %}

{% block title %}
𝐜𝐨𝐧𝐭𝐚𝐜𝐭
{% endblock %}

{% block tab-header %}Changelog{% endblock %}
{% block tab-header-subtitle %}Update history of the website : : . .{% endblock %}

{% block content %}
<div class="body-section" style="height: 100vh;">
    <div class="container" style="padding-top: 200px">
        <table>
            <tbody>
                <tr>
                    <td class="col-3 changelog-item">October 24 : : . . 2021</td>
                    <td class="col-9 changelog-item">Added a changelog, removed dropdown tabs in the
                        menu, and changed the body background image.</td>
                </tr>
                <tr>
                    <td class="col-3 changelog-item">October 25 : : . . 2021</td>
                    <td class="col-9 changelog-item">Moved the header menu to base and edited positioning of multiple
                        elements in index</td>
                </tr>
                <tr>
                    <td class="col-3 changelog-item">October 26 : : . . 2021</td>
                    <td class="col-9 changelog-item">Completely reworked the menu. Now a full screen menu that slides in
                        from the right when opened by a button.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}