{% extends "base.html" %}
{% load static %}

{% block title %}
𝐠𝐚𝐥𝐥𝐞𝐫𝐲
{% endblock %}

{% block tab-header %}Gallery{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">

<div id="gallery-cover">
  <p>M I D N I G H T // G A L L E R Y</p>
</div>

<div id="gallery-cursor"></div>

<span class="border-box gallery-border-box-position"></span>

<div class="container" id="gallery-body">
  <div class="row g-0">
    <div class="col-6">
      <a href="#">
        <div class="btn from-top">I</div>
      </a>
    </div>
    <div class="col-6">
      <a href="#">
        <div class="btn from-top">II</div>
      </a>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-6">
      <a href="#">
        <div class="btn from-top">III</div>
      </a>
    </div>
    <div class="col-6">
      <a href="#">
        <div class="btn from-top">IV</div>
      </a>
    </div>
  </div>
</div>

<div class="section-1" onclick="toggleSection1()">

</div>

<div class="section-2" onclick="toggleSection2()">

</div>

<div class="section-3" onclick="toggleSection3()">

</div>

<div class="section-4" onclick="toggleSection4()">

</div>

<script src="{% static 'js/gallerycursor.js' %}"></script>
{% endblock %}