{% extends "base.html" %}
{% load static %}

{% block title %}
𝐠𝐚𝐥𝐥𝐞𝐫𝐲
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block tab-header %}Gallery{% endblock %}

{% block content %}

<div id="gallery-cover" class="no-select">
  <div>
    <div>M I D N I G H T // G A L L E R Y</div>
    <span></span>
  </div>
</div>

<div id="cursor-area">
  <div id="gallery-cursor"></div>
</div>

<div id="gallery-body">
  <span class="border-box gallery-border-box-position"></span>
  <div class="container">
    <div class="row g-0">
      <div class="col-6">
        <a href="javascript:void(0)" onclick="toggleSection1()">
          <div class="btn from-top">I
          </div>
        </a>
      </div>
      <div class="col-6">
        <a href="javascript:void(0)" onclick="toggleSection2()">
          <div class="btn from-top">II
          </div>
        </a>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-6">
        <a href="javascript:void(0)" onclick="toggleSection3()">
          <div class="btn from-bottom">III</div>
        </a>
      </div>
      <div class="col-6">
        <a href="javascript:void(0)" onclick="toggleSection4()">
          <div class="btn from-bottom">IV</div>
        </a>
      </div>
    </div>
  </div>
  <span class="scroll-down" id="gallery-scrolldown"></span>
</div>

<div class="gallery-section" id="section-1">
  <img src="{% static 'img/gallery/gallery01.jpg' %}">
</div>

<div class="gallery-section" id="section-2">
  <img src="{% static 'img/gallery/gallery02.jpg' %}">
</div>

<div class="gallery-section" id="section-3">
  <img src="{% static 'img/gallery/gallery03.jpg' %}">
</div>

<div class="gallery-section" id="section-4">
  <img src="{% static 'img/gallery/gallery04.jpg' %}">
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/gallerycursor.js' %}"></script>
<script src="{% static 'js/gallerysectiontoggle.js' %}"></script>
{% endblock %}