{% extends "base.html" %}
{% load static %}

{% block title %}
𝐩𝐫𝐨𝐟𝐢𝐥𝐞
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block tab-header %}Profile{% endblock %}
{% block tab-header-subtitle %}Information about me{% endblock %}

{% block content %}
<div class="container" style="padding-top: 150px;">
  {% for item in profile %}
  <div class="profile-section">
    <div class="row">
      <div class="col-lg-4">
        <img style="width: 100%;" src="{{ item.img }}" alt="">
      </div>
      <div class="col-lg-8">
        <div class="profile-title">{{ item.name }} // {{ item.identity }}</div>
        <div class="profile-subtitle">{{ item.subtitle }}</div>
        <div class="profile-content">
          {{ item.content|safe }}
        </div>
        <div class="profile-author">Posted by {{ item.author }} on {{ item.date }}</div>
      </div>
    </div>
    <div class="row g-2 profile-button">
      <div class="col-sm-12 col-lg-6">
        <a href="{{ item.projects }}">
          <button class="contact-submit">Projects</button>
        </a>
      </div>
      <div class="col-sm-12 col-lg-6">
        <a href="/changelog">
          <button class="contact-submit">Changelog</button>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}