{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="m y n a m e i s // p h n t m z _ // n i c e t o m e e t y o u : : . ." />
    <meta name="keywords" content="phntmz, hieu minh nguyen">
    <meta name="author" content="phntmz_" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.jpg' %}" />
    <title>𝐧𝐢𝐜𝐞𝐭𝐨𝐦𝐞𝐞𝐭𝐲𝐨𝐮 // 𝐩𝐡𝐧𝐭𝐦𝐳_</title>
    <script src="{% static 'js/herokuredirect.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/animations.css' %}" />
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/darkmode.css' %}" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet" /> -->
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400&display=swap"
        rel="stylesheet" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap" rel="stylesheet" /> -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- template -->
    <div id="settings-toggle" onclick="SettingsToggle()"></div>
    <div id="settings-wrapper">
        <div id="settings-menu">
            <div class="settings">
                <span class="settings-icon">&#9989;</span>
                <a href="javascript:void(0)" onclick="DarkmodeToggle()">
                    enable / disable darkmode [ enabled by default ]
                </a>
            </div>
            <div class="settings">
                <span class="settings-icon">&#10060;</span>
                <a href="javascript:void(0)" onclick="LowwhiteToggle()">
                    enable / disable dim white colors [ disabled by default ]
                </a>
            </div>
            <div class="settings">
                <span class="settings-icon">&#10060;</span>
                <a href="javascript:void(0)" onclick="RedirectToggle()">
                    enable / disable redirecting to official website [ disabled by default ]
                </a>
            </div>
        </div>
    </div>

    <main>
        <section>
            <!-- <svg class="logos" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120.78 117.79">
                <defs>
                    <style>
                        .cls-1,
                        .cls-2 {
                            fill: var(--color);
                        }

                        .cls-1 {
                            fill-rule: evenodd;
                        }
                    </style>
                </defs>
                <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                        <path class="cls-1"
                            d="M60.39,0A60.39,60.39,0,0,0,41.3,117.69c3,.56,4.12-1.31,4.12-2.91,0-1.44-.05-6.19-.08-11.24C28.54,107.19,25,96.42,25,96.42c-2.75-7-6.71-8.84-6.71-8.84-5.48-3.75.41-3.67.41-3.67,6.07.43,9.26,6.22,9.26,6.22,5.39,9.23,14.13,6.57,17.57,5,.55-3.9,2.11-6.56,3.84-8.07C36,85.55,21.85,80.37,21.85,57.23A23.35,23.35,0,0,1,28.08,41c-.63-1.52-2.7-7.66.58-16,0,0,5.07-1.62,16.61,6.19a57.36,57.36,0,0,1,30.25,0C87,23.42,92.11,25,92.11,25c3.28,8.32,1.22,14.46.59,16a23.34,23.34,0,0,1,6.21,16.21c0,23.2-14.12,28.3-27.57,29.8,2.16,1.87,4.09,5.55,4.09,11.18,0,8.08-.06,14.59-.06,16.57,0,1.61,1.08,3.49,4.14,2.9A60.39,60.39,0,0,0,60.39,0Z" />
                        <path class="cls-2"
                            d="M22.87,86.7c-.13.3-.6.39-1,.19s-.69-.61-.55-.91.61-.39,1-.19.69.61.54.91Z" />
                        <path class="cls-2"
                            d="M25.32,89.43c-.29.27-.85.14-1.24-.28a.92.92,0,0,1-.17-1.25c.3-.27.84-.14,1.24.28s.47,1,.17,1.25Z" />
                        <path class="cls-2"
                            d="M27.7,92.91c-.37.26-1,0-1.35-.52s-.37-1.18,0-1.44,1,0,1.35.51.37,1.19,0,1.45Z" />
                        <path class="cls-2"
                            d="M31,96.27A1.13,1.13,0,0,1,29.41,96c-.53-.49-.68-1.18-.34-1.54s1-.27,1.56.23.68,1.18.33,1.54Z" />
                        <path class="cls-2"
                            d="M35.46,98.22c-.15.47-.82.69-1.51.49s-1.13-.76-1-1.24.82-.7,1.51-.49,1.13.76,1,1.24Z" />
                        <path class="cls-2"
                            d="M40.4,98.58c0,.5-.56.91-1.28.92s-1.3-.38-1.31-.87.56-.92,1.29-.93,1.3.39,1.3.88Z" />
                        <path class="cls-2"
                            d="M45,97.8c.09.49-.41,1-1.12,1.12s-1.35-.17-1.44-.66.42-1,1.12-1.12,1.35.17,1.44.66Z" />
                    </g>
                </g>
            </svg> -->
            <a href="https://github.com/fntmz">github // profile</a>&nbsp;[&nbsp;
            <a href="https://github.com/fntmz/phntmz_">source code</a>&nbsp;]
        </section>
        <section>
            <div>
                <a href="{% url 'index' %}">official // website</a>&nbsp;[
                <a href="{% url 'profile' %}">profile</a>&nbsp;]
            </div>
            <div class="blind-warning">note: website is in light mode</div>
        </section>
        <div class="border-box"></div>
    </main>

    <!-- scripts -->
    <script src="{% static 'js/titletransform.js' %}"></script>
    <script src="{% static 'js/lowwhite.js' %}"></script>
    <script>
        if (localStorage.getItem('redirect') == 'true') {
            window.location.href = "{% url 'index' %}";
        }

        switch (new Date().getHours()) {
            default:
                $(".blind-warning").text("note: website is in light mode");
                break;
            case 0:
                $(".blind-warning").text("note: midnight // gallery is available");
                break;
            case 18, 19, 20, 22, 23, 0, 1, 2, 3, 4, 5, 6:
                $(".blind-warning").remove();
        }

        window.onload = function () {
            if (localStorage.getItem("darkmode") == "light_theme") {
                $(".settings-icon").eq(0).text("❌");
            } if (localStorage.getItem("lowwhite") == "true") {
                $(".settings-icon").eq(1).text("✅");
            } if (localStorage.getItem("redirect") == "true") {
                $(".settings-icon").eq(2).text("✅");
            }

            if (localStorage.getItem("darkmode")) {
                document.body.setAttribute("data-theme", localStorage.getItem('darkmode'));
            } else {
                document.body.setAttribute("data-theme", "dark_theme");
            }
        }

        function DarkmodeToggle() {
            if (localStorage.getItem("darkmode") == "light_theme") {
                localStorage.setItem("darkmode", "dark_theme");
                document.body.setAttribute("data-theme", "dark_theme");
                $(".settings-icon").eq(0).text("✅");
            } else {
                localStorage.setItem("darkmode", "light_theme");
                document.body.setAttribute("data-theme", "light_theme");
                $(".settings-icon").eq(0).text("❌");
            }
        }

        function LowwhiteToggle() {
            if (localStorage.getItem("lowwhite") == "true") {
                localStorage.setItem("lowwhite", false);
                $('body[data-theme="light_theme"]').prop("--background-color", "white");
                $(".settings-icon").eq(1).text("❌");
            } else {
                localStorage.setItem("lowwhite", true);
                $('body[data-theme="light_theme"]').prop("--background-color", "whitesmoke");
                $(".settings-icon").eq(1).text("✅");
            }
        }

        function RedirectToggle() {
            if (localStorage.getItem("redirect") == "true") {
                localStorage.setItem("redirect", false);
                $(".settings-icon").eq(2).text("❌");
            } else {
                localStorage.setItem("redirect", true);
                $(".settings-icon").eq(2).text("✅");
            }
        }

        function SettingsToggle() {
            if ($("#settings-wrapper").hasClass("settings-opened") == false) {
                $("#settings-toggle").css("pointer-events", "none");
                $("#settings-wrapper").addClass("settings-opened");
                $("#settings-wrapper").css("left", "-2px");
                for (let i = 0; i < $(".settings").length + 1; i++) {
                    setTimeout(function () {
                        $(".settings").eq(i).css("transform", "translateX(0)");
                    }, i * 50);
                }
                setTimeout(function () {
                    $("#settings-toggle").css("pointer-events", "initial");
                }, 800)
            } else {
                $("#settings-toggle").css("pointer-events", "none");
                $("#settings-wrapper").css("left", "calc(-100vw - 4px)");
                for (let i = 0; i < $(".settings").length + 1; i++) {
                    setTimeout(function () {
                        $(".settings").eq(i).css("transform", "translateX(10%)");
                    }, i * 50);
                }
                setTimeout(function () {
                    $("#settings-wrapper").removeClass("settings-opened");
                    $("#settings-wrapper").css("left", "100vw");
                    $("#settings-toggle").css("pointer-events", "initial");
                }, 800);
            }
        }
    </script>
</body>

</html>