.changelog-timeline {
    border-left: 3px solid var(--a-highlight);
    min-height: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.changelog-timeline::before {
    content: "\200B";
    position: relative;
    background-color: var(--a-highlight);
    left: -11px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    align-self: center;
}

.changelog-date {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.85rem;
    font-weight: 400;
    letter-spacing: 0.01rem;
}

#changelog-body-section {
    display: flex;
    justify-content: center;
}

#changelog-container {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1000px;
}

#changelog-container > * {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    color: var(--color);
}

.changelog-timeline > * {
    display: flex;
    align-items: center;
}

.changelog-description {
    font-size: 1rem;
}
