.changelog-timeline {
  border-left: 3px solid var(--a-highlight);
  min-height: 40px;
}

.changelog-date {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

#changelog-container {
  padding-top: 200px
}

#changelog-container > * {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: var(--color);
}

#changelog-body-section {
  height: 100vh
}

.changelog-timeline > * {
  display: flex;
  align-items: center;
}