.contact-label {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: black;
}

.contact-input {
    width: 100%; 
    background-color: transparent; 
    border: 0;
    border-bottom: 2px solid black;
    color: black;
}

.contact-textarea {
    width: 100%;
    background-color: transparent; 
    border: 0;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    resize: none;
    color: black;
}

.contact-submit {
    width: 100%;
    background-color: transparent;
    height: 50px;
    color: black;
    font-family: 'Raleway', sans-serif;
    border-radius: 0px;
    border: 2px solid black;
    color: black;
}