.contact-label {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: var(--color);
}

.contact-input {
    width: 100%; 
    background-color: transparent; 
    border: 0;
    border-bottom: 2px solid var(--color);
    color: var(--color);
}

.contact-textarea {
    width: 100%;
    background-color: transparent; 
    border: 0;
    border-bottom: 2px solid var(--color);
    border-left: 2px solid var(--color);
    resize: none;
    color: var(--color);
}