body[data-theme='light_theme'] {
    --color: whitesmoke;
    --background-color: black;
    --background-image: url(../img/765801.jpg);
    --header-image: url(../img/marble.jpg);
}

body[data-theme='dark_theme'] {
    --color: black;
    --background-color: whitesmoke;
    --background-image: url(../img/headertextbg.jpg);
    --header-image: url(../img/headertextbg.jpg);
}