#gallery-cover {
  z-index: 3;
  position: fixed;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  width: 100vw;
  height: 100vh;
  color: var(--color);
  background-color: var(--background-color);
  top: 0;
}

#gallery-cover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}