.feature-items-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: var(--color);
}

.feature-items {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: var(--color);
}

.index-header-text {
    font-family: 'Montserrat', sans-serif;
    color: var(--background-color);
    font-size: 84px;
    background-color: var(--color);
    background-attachment: fixed;
    width: 0;
    transition: 2s;
}

.header-menu-text {
    font-family: 'Montserrat', sans-serif;
}

.list-group-item {
    background-color: transparent;
}