.feature-items-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: var(--color);
}

.feature-items {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--color);
}

.index-header-text {
    font-family: 'Montserrat', sans-serif;
    color: var(--background-color);
    font-size: 5.25rem;
    background-color: var(--color);
    background-attachment: fixed;
    width: 0;
    transition: 2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.header-menu-text {
    font-family: 'Montserrat', sans-serif;
}

.list-group-item {
    background-color: transparent;
}

.scroll-down {
    position: absolute;;
	left: 50%;
	bottom: 7vh;
	display: block;
	text-align: center;
    width: .75rem;
    height: .75rem;
    border-bottom: 2px solid var(--color);
    border-right: 2px solid var(--color);
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation: fade_move_down 4s ease-in-out infinite;
	animation: fade_move_down 4s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

.border-box {
    background-image: repeating-linear-gradient(-60deg, transparent, transparent 10px, transparent 10px, transparent 40px, transparent 40px), repeating-linear-gradient(30deg, var(--color), var(--color) 10px, transparent 10px, transparent 40px, var(--color) 40px), repeating-linear-gradient(120deg, transparent, transparent 10px, transparent 10px, transparent 40px, transparent 40px), repeating-linear-gradient(210deg, transparent, transparent 10px, transparent 10px, transparent 40px, transparent 40px);
    background-size: 1px calc(100% + 80px), calc(100% + 80px) 1px, 1px calc(100% + 80px) , calc(100% + 80px) 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 3s infinite linear;
}

.index-border-box-position {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 1px;
    bottom: 15vh;
}

@keyframes borderAnimation {
    from { background-position: 0 0, -80px 0, 100% -80px, 0 100%; }
    to { background-position: 0 -80px, 0 0, 100% 0, -80px 100%; }
}