.dropdown-menu {
    border-radius: 0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.nav-item {
    margin-left: 5vw;
    background-color: transparent;
}

#navbar {
    top: -10vh;
    width: 100%;
    transition: top 0.3s;
}

.dropdown-item {
    outline: none;
}

#navbar-title {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.navbar-item {
    font-family: 'Raleway', sans-serif;
}