a {
    color: var(--color);
}

.navbar-item {
    display: none;
    font-family: "Raleway", sans-serif;
    transition: transform 0.3s ease-out;
    transform: translateY(10px);
    margin-bottom: 0.2rem;
    overflow: hidden;
}

.navbar-item:hover > a {
    color: var(--a-highlight) !important;
}

.navbar-item:after {
    margin-right: -100%;
    margin-left: 10px;
}

.navbar-item:before {
    margin-left: -100%;
    margin-right: 10px;
}

.navbar-item:after,
.navbar-item:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0.45em;
    border-top: 2px solid var(--a-highlight);
    transition: width 0.3s;
}

.navbar-item:hover:before,
.navbar-item:hover:after {
    width: 50%;
    transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 998;
    transform: translateY(-100vh);
    top: 0;
    background-color: var(--background-color);
    overflow: hidden;
    transition: transform 1s cubic-bezier(0.8, 0, 0.2, 1);
    border-bottom: 2px solid var(--color);
}

.overlay-content {
    position: relative;
    top: 35%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    width: 68.75%;
}

#menu-button {
    transform: translateY(-100px);
    right: 30px;
    position: fixed;
    font-size: 4rem;
    z-index: 999;
    transition: all 0.3s;
}

#navbar-brand {
    color: var(--color);
    position: absolute;
    top: 25px;
    left: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.05rem;
}

#gallery-link > * {
    color: rgb(252, 87, 96) !important;
}

#navbar-socials {
    width: 68.75%;
    position: absolute;
    bottom: 20%;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navbar-socials > div {
    width: calc(100% / 6);
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .navbar-item:hover:before,
    .navbar-item:hover:after,
    #navbar-socials {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    #navbar-socials {
        width: 90%;
    }
}
