.nav-item {
    background-color: transparent;
}

#navbar {
    top: -10vh;
    width: 100%;
    transition: top 0.3s;
}

.navbar-item {
    opacity: 0;
    position: relative;
    font-family: "Raleway", sans-serif;
    transition: opacity 0.3s, top 0.3s ease-out;
    top: 10px;
    margin-bottom: 0.2rem;
    overflow: hidden;
}

.navbar-item:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0.4em;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 2px solid var(--a-highlight);
    transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar-item:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0.4em;
    margin-left: -100%;
    margin-right: 10px;
    border-top: 2px solid var(--a-highlight);
    transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar-item:hover::before,
.navbar-item:hover::after {
    width: 50%;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 998;
    right: -100vw;
    top: 0;
    background-color: var(--background-color);
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.overlay-content {
    position: relative;
    top: 32vh;
    transition: opacity 0.3s ease-out;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 90px);
}

@media only screen and (max-width: 768px) {
    .overlay-content {
        width: 100%;
    }
}

.overlay .closebtn {
    position: absolute;
    right: 45px;
    font-size: 4rem;
}

.closebtn {
    visibility: hidden;
    opacity: 0;
    top: -10px;
    transition: opacity 0.3s, color 0.3s;
}

#menu-button {
    top: -100px;
    right: 45px;
    position: fixed;
    font-size: 4rem;
    z-index: 997;
    transition: all 0.3s;
}

#navbar-brand {
    color: var(--color);
    opacity: 0;
    position: relative;
    top: 25px;
    left: 45px;
    transition: opacity 0.5s;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.05rem;
}

#navbar-item-5 > * {
    color: rgb(252, 87, 96) !important;
}

#navbar-socials {
    width: 68.75%;
    position: absolute;
    bottom: 20%;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navbar-socials > div {
    width: calc(100% / 6);
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #navbar-socials {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    #navbar-socials {
        width: 90%;
    }
}
