.posts-row {
    padding-bottom: 150px;
}

.posts-img {
    height: 100%;
}

.posts-title {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
}

.posts-subtitle {
    font-family: "Noto Sans JP", sans-serif;
    color: var(--color);
    margin-top: 1%;
    letter-spacing: 0.05rem;
}

#posts-text {
    display: flex;
    align-items: center;
}

#posts-body {
    height: 100%;
    padding-top: 150px;
}

.posts-date {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 0.05rem;
    font-size: 0.85rem;
    color: var(--color);
    margin-top: 5%;
}
