body {
    margin: 0
}

.nav-item {
    margin-left: 5vw;
}

#navbar {
    top: -10vh;
    width: 100%;
    transition: top 0.3s;
}

.dropdown-item {
    outline: none;
}

.bg-black {
    background-color: black;
}

.dropdown-menu {
    border-radius: 0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

body::-webkit-scrollbar {
    width: 0
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover {
    color: rgb(160, 160, 255);
}

.index-header-text {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 84px;
    background-image: url(../img/marble.jpg);
    background-attachment: fixed;
}

.index-body-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 84px;
    background-color: black;
}

#navbar-title {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.header-menu-text {
    font-family: 'Montserrat', sans-serif;
}

hr {
    color: rgb(255, 255, 255);
    opacity: 1;
}

.feature-items-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.feature-items {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.index-carousel-subtitle {
    font-family: 'Montserrat', sans-serif;
}

.navbar-item {
    font-family: 'Raleway', sans-serif;
}

.bi-arrow-up-square {
    background-color: black;
}

.zoom {
    transition: 0.25s
}

.zoom:hover {
    transform: scale(1.02);
}

.btn-black {
    background-color: black;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.loader-wrapper {
    z-index: 3 !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 84px;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}

.easing-right {
    position: relative;
    right: 0;
    transition: right ease-out 0.3s;
}
.easing-right:hover {
    right: -5px;
}

.easing-left {
    position: relative;
    left: 0;
    transition: left ease-out 0.3s;
}
.easing-left:hover {
    left: -5px;
}

.easing-bottom {
    position: relative;
    bottom: 0;
    transition: bottom ease-out 0.3s;
}
.easing-down:hover {
    bottom: -5px;
}

.contact-label {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

.contact-input {
    width: 100%; 
    background-color: transparent; 
    border: 0;
    border-bottom: 2px solid black
}

.contact-textarea {
    width: 100%;
    background-color: transparent; 
    border: 0;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    resize: none;
}

.contact-submit {
    width: 100%;
    background-color: transparent;
    height: 50px;
    color: black;
    font-family: 'Raleway', sans-serif;
    border-radius: 0px;
    border: 2px solid black
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    caret-color: transparent;
}

textarea {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    caret-color: transparent;
}