html {
    scrollbar-width: none !important;
}

::-webkit-scrollbar {
    width: 0 !important;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

.bg-black {
    background-color: black;
}

a {
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--a-highlight) !important;
}

hr {
    opacity: 1;
}

.btn-black {
    background-color: black;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    font-size: 1rem;
    font-family: "Zen Kaku Gothic New", sans-serif;
    caret-color: var(--color);
    color: black;
}

textarea {
    font-size: 1rem;
    font-family: "Zen Kaku Gothic New", sans-serif;
    caret-color: var(--color);
    color: black;
}

::-moz-selection {
    color: var(--background-color);
    background: var(--a-highlight);
}

::selection {
    color: var(--background-color);
    background: var(--a-highlight);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab-header {
    height: 50vh;
    margin: 0;
    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding-top: 2.5vh;
}

.body-section {
    background-image: var(--background-image);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
}

.hr-animate {
    width: 0;
    transition: 1s;
    height: 2px !important;
    color: var(--color);
}

.profile-title {
    font-family: "Raleway", sans-serif;
    color: var(--color);
}

.feature-items-subtitle {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: var(--color);
}

.feature-items {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--color);
    padding-top: 3vh;
    transition: color 0.3s, right 0.3s ease-out !important;
}

#feature-header {
    margin-top: 15vh;
}

.index-header-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--background-color);
    font-size: 5.25rem;
    background-color: var(--color);
    background-attachment: fixed;
    width: 0;
    transition: 2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.list-group-item {
    background-color: transparent;
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 7vh;
    display: block;
    text-align: center;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid var(--color);
    border-right: 2px solid var(--color);
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation: fade_move_down 4s ease-in-out infinite;
    animation: fade_move_down 4s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}
@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}
@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

.border-box {
    background-image: repeating-linear-gradient(
            -60deg,
            transparent,
            transparent 10px,
            transparent 10px,
            transparent 40px,
            transparent 40px
        ),
        repeating-linear-gradient(
            30deg,
            var(--color),
            var(--color) 10px,
            transparent 10px,
            transparent 40px,
            var(--color) 40px
        ),
        repeating-linear-gradient(
            120deg,
            transparent,
            transparent 10px,
            transparent 10px,
            transparent 40px,
            transparent 40px
        ),
        repeating-linear-gradient(
            210deg,
            transparent,
            transparent 10px,
            transparent 10px,
            transparent 40px,
            transparent 40px
        );
    background-size: 1px calc(100% + 80px), calc(100% + 80px) 1px,
        1px calc(100% + 80px), calc(100% + 80px) 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 3s infinite linear;
}

@keyframes borderAnimation {
    from {
        background-position: 0 0, -80px 0, 100% -80px, 0 100%;
    }
    to {
        background-position: 0 -80px, 0 0, 100% 0, -80px 100%;
    }
}

.contact-submit {
    width: 100%;
    background-color: transparent;
    height: 50px;
    color: var(--color);
    font-family: "Raleway", sans-serif;
    border-radius: 0px;
    border: 2px solid var(--color);
    color: var(--color);
}

.base-body {
    background-color: var(--background-color);
    z-index: -1;
}
