body {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0
}

.bg-black {
    background-color: black;
}

a {
    text-decoration: none;
    color: var(--color);
    transition: 0.3s;
}

a:hover {
    color: var(--a-highlight);
}

hr {
    opacity: 1;
}

.btn-black {
    background-color: black;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    caret-color: transparent;
    color: black;
}

textarea {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    caret-color: transparent;
    color: black;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.tab-header {
    height: 50vh; 
    margin: 0; 
    background-color: var(--header-color);
}

.body-section {
    background-image: var(--background-image); 
    background-attachment: fixed; 
    background-size: cover; 
    margin: 0; 
}

.hr-animate {
    width: 0;
    transition: 1s;
    height: 2px !important; 
    color: var(--color)
}