.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: var(--color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--a-highlight) !important;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: var(--background-image);
    background-size: cover;
    float: left;
}

#loader {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-bottom: 2px solid var(--color);
    transition: transform 1.5s cubic-bezier(0.8, 0, 0.2, 1);
    pointer-events: none;
}

#letters-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    transition: width 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.loader-letters {
    color: var(--color);
    font-size: 40px;
    font-weight: 300;
    font-family: "Zen Kaku Gothic New", sans-serif;
    transform: translateY(100%);
    transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

#letters-wrapper span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color);
}

#settings-toggle {
    z-index: 2;
    position: fixed;
    top: -25px;
    right: -50px;
    width: 100px;
    height: 100px;
    background-color: var(--background-color);
    border: 2px solid var(--color);
    border-radius: 30px;
    transform: rotate(50deg);
    transition: border 0.3s;
}

#settings-toggle:hover {
    border: 2px solid var(--a-highlight);
}

#settings-wrapper {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    border-left: 2px solid var(--color);
    border-right: 2px solid var(--color);
    clip: rect(0, auto, auto, 0);
}

.settings-opened {
    transition: left 1.2s cubic-bezier(0.23, 1, 0.32, 1);
}

#settings-menu {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.settings {
    color: var(--color);
    font-family: "Zen Kaku Gothic New", sans-serif;
    line-height: 2;
    transform: translateX(10%);
    transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

main {
    position: relative;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-color);
    border: 2px solid var(--color);
    border-radius: 50px;
    margin: 50px;
}

section {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--color);
    font-family: "Zen Kaku Gothic New", sans-serif;
}

.blind-warning {
    position: absolute;
    color: grey;
    bottom: 25%;
}

.border-box {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-image: repeating-linear-gradient(
            -60deg,
            transparent,
            transparent 10px,
            transparent 10px,
            transparent 40px,
            transparent 40px
        ),
        repeating-linear-gradient(
            30deg,
            transparent,
            transparent 10px,
            transparent 10px,
            transparent 40px,
            transparent 40px
        ),
        repeating-linear-gradient(
            120deg,
            var(--color),
            var(--color) 10px,
            transparent 10px,
            transparent 40px,
            var(--color) 40px
        ),
        repeating-linear-gradient(
            210deg,
            transparent,
            transparent 10px,
            transparent 10px,
            transparent 40px,
            transparent 40px
        );
    background-size: 1px calc(100% + 80px), calc(100% + 80px) 1px,
        1px calc(100% + 80px), calc(100% + 80px) 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 3s infinite linear;
}

.logos {
    width: 150px;
    height: 150px;
}

@media only screen and (max-width: 991px) {
    main {
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        padding: 0;
        margin: 40px;
    }
    section {
        width: 100%;
        height: 50%;
    }
    #settings-toggle {
        width: 90px;
        height: 90px;
    }
    .border-box {
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: repeating-linear-gradient(
                -60deg,
                transparent,
                transparent 10px,
                transparent 10px,
                transparent 40px,
                transparent 40px
            ),
            repeating-linear-gradient(
                30deg,
                var(--color),
                var(--color) 10px,
                transparent 10px,
                transparent 40px,
                var(--color) 40px
            ),
            repeating-linear-gradient(
                120deg,
                transparent,
                transparent 10px,
                transparent 10px,
                transparent 40px,
                transparent 40px
            ),
            repeating-linear-gradient(
                210deg,
                transparent,
                transparent 10px,
                transparent 10px,
                transparent 40px,
                transparent 40px
            );
    }
}

@media only screen and (max-width: 575px) {
    .logos {
        width: 100px;
        height: 100px;
    }
}
